/* generics */
:root {
    --background-grey: hsla(0, 0%, 83%, 0.8);
    --text-colour: hsl(0, 100%, 25%);
    --button-colour: hsla(0, 100%, 25%, 0.65);
    --button-text: hsla(0, 0%, 100%, 0.623);
    --shadow-grey: hsla(0, 3%, 71%, 0.8);
    --link-colour: hsl(114, 47%, 12%);
    --link-colour-shadow: hsla(114, 47%, 12%, 0.2);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--text-colour);
    font-size: 18px;
}

body {
    background-color: var(--background-grey);
    text-transform: lowercase;
}

/* end generics */


.headline {
    text-align: center;
    margin: 2rem 1rem;
}

.container {
    display: flex;
    justify-content: center;
}

.leftbar {
    background-image: url("../images/DSC_2339.JPG");
    background-repeat: no-repeat;
    width: 96vw;
    background-size: cover;
}

.main__items {
    display: flex;
    gap: 1rem;
    width: 96vw;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.preamble__items {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    overflow: hidden auto;
}

.preamble__items h2 {
    text-align: center;
    /* margin: 0 4rem; */
}

.preamble__item {
    width: 45vw;
    margin: auto;
    text-align: center;
}

.favourite-links {
    margin: 1rem auto;
}

a:any-link {
    color: var(--link-colour);
    text-decoration: underline dotted;
    text-shadow: 2px 2px 12px var(--link-colour);
}

.main-nav {
    align-self: center;
    margin: 2rem 1rem;
}

.main-nav h2 {
    text-align: center;
    margin: 1rem 0;
}

.main-nav__items {
    display: flex;
    gap: .8rem;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 1rem;
}

.main-nav__items a:any-link {
    color: var(--button-text);
}

.main-nav__item {
    background-color: var(--button-colour);
    padding: 8px 8px;
    width: 200px;
    color: var(--button-text);
    border-radius: 20px;
    transition: transform .6s;
    box-shadow: 0 0 8px var(--button-colour);
    font: inherit;
    text-transform: inherit;
}

.main-nav__item:hover {
    transform: scale(1.08);
}

.main-nav__item a:any-link {
    text-shadow: none;
}

@media screen and (max-width: 800px) {
    .container {
        flex-flow: row wrap;
    }

    .leftbar {
        background-size: contain;
        height: 60vh;
        background-position: top;
        margin: 0;
    }

    .preamble__items {
        overflow: unset;
    }

    .preamble__item {
        width: auto;
    }

    .main-nav {
        margin: 0;
    }

    .main-nav__items {
        flex-flow: column nowrap;
        align-content: center;
        justify-content: center;
        margin: auto;
    }

    .main-nav__item {
        width: 200px;
    }
}