/* generics */
:root {
  --background-grey: hsla(0, 0%, 83%, 0.8);
  --text-colour: hsl(0, 100%, 25%);
  --button-colour: hsla(0, 100%, 25%, 0.65);
  --button-text: hsla(0, 0%, 100%, 0.8);
  --shadow-grey: hsla(0, 3%, 71%, 0.8);
  --link-colour: hsl(114, 47%, 12%);
  --link-colour-shadow: hsla(114, 47%, 12%, 0.2);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  border: none;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: var(--text-colour);
  font-size: 18px;
}

body {
  /* background-color: var(--background-grey); */
  background: linear-gradient(-45deg, var(--background-grey), var(--shadow-grey)) text-transform: lowercase;
  margin: 2rem auto;
}


form {
  display: inline;
}


button {
  padding: 8px 12px;
  background-color: var(--button-colour);
  color: var(--button-text);
  font-family: inherit;
  font-size: 16px;
  border-radius: 18px;
  width: 240px;
  text-transform: inherit;
}

/* end generics */

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

.leftbar {
  background-image: url("../images/profile-picture.png");
  background-repeat: no-repeat;
  width: 80vw;
  margin: auto;
  height: 40vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 40px;
  scrollbar-width: none;
}

.main__items {
  display: flex;
  gap: 1rem;
  flex-flow: column nowrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 96vw;
  align-self: center;
}

.preamble__items {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  overflow: hidden auto;
}

.preamble__item a:any-link,
.preamble__item a:active {
  color: var(--link-colour);
  /* text-decoration: underline dotted;
    text-underline-offset: 4px; */
  text-shadow: 0 2px 10px var(--link-colour-shadow);
}

.preamble__item a::after {
  content: "⤴︎";

}

.favourite-links {
  width: 200px;
  margin: 10px auto;
  display: grid;
  gap: 5px;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: auto;
}

.favourite-links li {
  border: 1px solid var(--link-colour);
  padding: 4px 10px;
}

.main-nav__items {
  display: flex;
  flex-flow: column nowrap;
  gap: 18px;
}

.main-nav h2 {
  margin: 14px auto;
  text-decoration: underline dotted;
  text-underline-offset: 4px;
}

.main-nav__item {
  padding: 8px;
  background-color: var(--button-colour);
  color: var(--button-text);
  font-family: inherit;
  font-size: 16px;
  border-radius: 18px;
  width: 240px;
  text-transform: inherit;
  margin: auto;
  transition: transform 1s;
}

.main-nav__item:hover {
  transform: scale(1.08);
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  body {
    margin: 0 auto;
  }

  .container {
    flex-flow: column nowrap;
  }

  .leftbar {
    width: 60vw;
    height: 40vh;
    margin: 1rem auto;
    background-position: center;
    border-radius: 60px;
  }

  .main-nav__items {
    display: flex;
    flex-flow: row wrap;
    gap: 18px;
  }

  .main-nav__item {
    width: 180px;
  }
}

@media screen and (min-width: 900px) {
  body {
    margin: 0 auto;
  }

  .container {
    flex-flow: column nowrap;
  }

  .leftbar {
    margin-top: 4rem;
    width: 35vw;
    background-size: cover;
    background-position: center;
    border-radius: 60px;
  }

  .preamble__items {
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .main__items {
    width: 50vw;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
  }

  .main-nav {
    width: 75%;
    margin: auto;
  }

  .main-nav__items {
    flex-flow: row wrap;
  }

  .main-nav__item {
    width: 180px;
  }

  .favourite-links {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}